# Dev config
tsup.config.ts
tsconfig.json
tsconfig.build.json
commitlint.config.ts
vitest.config.ts
.prettierrc
.prettierignore
.lintstagedrc.json

# Tests
tests/

# Husky
.husky/

# GitHub
.github/

# Docs
README.md
LICENSE
docs/

# Misc
*.log
.DS_Store